<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->




<div class="container">
  <div class="row">
    <div ng-hide="isLoggedIn()">
      <h1 class="text-center">Beer Me</h1>
      <div class="text-center">
        <a class="btn btn-untappd" ng-click="loginOauth('untappd')"><i class="fa fa-beer"></i> Login With Untappd</a>
      </div>
    </div>
  <div ng-repeat="beer in user.beers" ng-show="isLoggedIn()">
    {{$index}}
    <h4>{{beer.brewery}}: {{beer.name}}</h4>
    <h5>{{beer.style}}</h5>
    <p>{{beer.description}}</p>
    <h5>Rating: {{beer.rating}}</h5>
  </div>
  </div>
</div>


